@import 'variables.scss';// Import buefy and bulma styles
@import "~bulma";
@import "~buefy/src/scss/buefy";// Import your other app styles

@import "app";
.carousel-arrow .icon{
    width: 50px !important;
    height: 50px;
    background-color: #32BD9F !important;
    color: #fff;
    border: none;
    font-size: 20px;
    box-shadow: 6px 6px 11px 2px rgba(0,0,0,0.52);
    -webkit-box-shadow: 6px 6px 11px 2px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 6px 11px 2px rgba(0,0,0,0.52);
  }